/** Created by: Bob Dolman **/
code-tile:hover {
    background-color: black;
    border: 1px solid gold;
    outline: 1px solid black;
}

code-tile{

  background-image: url(./Source/wall1.jpeg);
  outline: 1px solid #a5f1b18a;/*#f5deb3c2;*/
}

.enemy-tile{

  width: 10px;
  height: 3px;
  outline: 1px solid wheat;
  background-color: red;
  transform: rotateX(0deg) rotateZ(-27deg);
}

.enemy-tile-player{
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  z-index: 99;    
  BACKGROUND-COLOR: #99333366;
}

#dobb-player{
  width: 22px;
  height: 58px;

  /* transform: rotateX(47deg) rotateZ(30deg); */
  transform: rotateX(0deg) rotateZ(-27deg);
  margin-left: 0px;
  margin-top: -30px;
  position: absolute;
  /* Playe One $ Int */
  background: url(./Source/Skeleton1.gif);
  background-size: 30px 55px;
    /* Attributes */
    border: 2px solid #0b36f1;
    padding: 5px;
    box-shadow: aliceblue;
    height: 112px;
    background-color: #cff6f5;
    border-radius: 43%;
  z-index: -1;
  box-shadow: 0px -5px 7px #4425ff;
}
/** Created by: Bob Dolman **/
